h2, h4, h5 {
    font-weight: 400;
}

.card img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

mat-form-field {
    background-color: white;
}

@media (min-width: 0px) and (max-width: 767.98px) {
    .mb-only-sm-2 {
      margin-bottom: 0.5rem; 
    }
}

.btn-primary {
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    border: none; 
    color: white; 
}

.meals-divider {
    margin-top: 0px;
    color:rgb(129, 129, 129);
}