<div class="overlay-container mat-elevation-z2">
    <mat-divider></mat-divider>
    <mat-action-list>
        @for (search of recentSearches(); track $index) {
            <mat-list-item>
                <mat-icon class="fas fa-history" matListItemIcon></mat-icon>
                <h3 matListItemTitle (click)="performSearch(search)">{{ search }}</h3>
                <button matListItemMeta mat-icon-button (click)="deleteRecentSearch(search)">
                    <mat-icon class="fas fa-times"></mat-icon>
                </button>
            </mat-list-item>
        }
    </mat-action-list>
</div>