@if (isResponseHere) {
    <h2>{{ patient.ward.hospital.name }}</h2>
    <hr>
    <p class="mb-5">
        <button class="btn" style="color: rgb(255, 255, 255); background-color: rgb(134, 134, 134);" (click)="redirectToWardDetails()">Wstecz</button>
    </p>
    <div class="container-fluid d-flex justify-content-center">
        <div class="card col-lg-5 col-md-9 col-sm-12 px-4" style="padding-top: 25px; padding-bottom: 20px;">
            <h4>Informacje o pacjencie</h4>
            <hr class="mt-2">
            <form [formGroup]="editPatientForm" (ngSubmit)="submitNewPatient()">
                <h5>Dane osobiste</h5>
                <p class="mb-4 mt-3">
                    <mat-form-field class="d-flex">
                        <mat-label>Imię</mat-label>
                        <input matInput placeholder="Podaj imię" formControlName="name"/>
                        @if(editPatientForm.get('name')?.errors?.['required'] && (editPatientForm.get('name')?.dirty || editPatientForm.get('name')?.touched)) {
                            <mat-error>Imię jest wymagane</mat-error>
                        }
                        @if(editPatientForm.get('name')?.errors?.['maxlength'] && (editPatientForm.get('name')?.dirty || editPatientForm.get('name')?.touched)) {
                            <mat-error>Imię jest zbyt długie</mat-error>
                        }
                    </mat-form-field>
                </p>
    
                <p class="mb-4">
                    <mat-form-field class="d-flex">
                        <mat-label>Nazwisko</mat-label>
                        <input matInput placeholder="Podaj nazwisko" formControlName="surname"/>
                        @if(editPatientForm.get('surname')?.errors?.['required'] && (editPatientForm.get('surname')?.dirty || editPatientForm.get('surname')?.touched)) {
                            <mat-error>Nazwisko jest wymagane</mat-error>
                        }
                        @if(editPatientForm.get('surname')?.errors?.['maxlength'] && (editPatientForm.get('surname')?.dirty || editPatientForm.get('surname')?.touched)) {
                            <mat-error>Nazwisko jest zbyt długie</mat-error>
                        }
                    </mat-form-field>
                </p>
    
                <p class="mb-4">
                    <mat-form-field class="d-flex">
                        <mat-label>Pesel</mat-label>
                        <input matInput placeholder="Podaj pesel" formControlName="pesel"/>
                        @if(editPatientForm.get('pesel')?.errors?.['required'] && (editPatientForm.get('pesel')?.dirty || editPatientForm.get('pesel')?.touched)) {
                            <mat-error>Pesel jest wymagany</mat-error>
                        }
                        @if(editPatientForm.get('pesel')?.errors?.['pattern'] && (editPatientForm.get('pesel')?.dirty || editPatientForm.get('pesel')?.touched)) {
                            <mat-error>To nie jest numer pesel</mat-error>
                        }
                    </mat-form-field>
                </p>
    
                <p class="mb-4">
                    <mat-form-field class="d-flex">
                        <mat-label>Adres email (opcjonalne)</mat-label>
                        <i matSuffix class="far fa-envelope me-3"></i>
                        <input matInput placeholder="Wpisz adres email" formControlName="email"/>
                        @if(editPatientForm.get('email')?.errors?.['email'] && (editPatientForm.get('email')?.dirty || editPatientForm.get('email')?.touched)) {
                            <mat-error>To nie jest adres email</mat-error>
                        }
                    </mat-form-field>
                </p>
    
                <hr>
    
                <h5>Dane szpitalne</h5>
                <p class="mb-4 mt-3">
                    <mat-form-field class="d-flex">
                        <mat-label>oddział</mat-label>
                        <i matSuffix class="far fa-hospital me-3"></i>
                        <mat-select name="ward" formControlName="wardId" (selectionChange)="handleSelectWard($event.value)">
                          @for (ward of wards; track ward.id) {
                            <mat-option [value]="ward.id">{{ ward.name }}</mat-option>
                          }
                        </mat-select>
                    </mat-form-field>
                </p>
    
                <p class="mb-4 mt-3">
                    <mat-form-field class="d-flex">
                        <mat-label>dieta</mat-label>
                        <i matSuffix class="fas fa-utensils me-3"></i>
                        <mat-select name="diet" formControlName="dietId" (selectionChange)="handleSelectDiet($event.value)">
                          @for (diet of diets; track diet.id) {
                            <mat-option [value]="diet.id">{{ diet.name }}</mat-option>
                          }
                        </mat-select>
                    </mat-form-field>
                </p>
    
                <p class="d-flex justify-content-center">
                    <button mat-flat-button class="btn btn-primary" type="submit">Zapisz zmiany</button>
                </p>
            </form>
        </div>
    </div>
} @else if(!isResponseHere) {
    <div class="row d-flex align-items-center justify-content-center v-100" style="height: 400px;">
        <img src="./assets/images/loader.gif" style="width: 120px; height: auto;">
    </div>
}


