<div class="sidenav-header" *ngIf="currentUser">
    <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
        <h2>Pacjent</h2>
        <p>{{ currentUser.name }} {{ currentUser.surname }}</p>
    </div>
</div>
<mat-nav-list>
    @for(item of menuItems(); track item.label) {
        <app-menu-item [item]="item" [collapsed]="sideNavCollapsed()"></app-menu-item>
    }
    
    <a class="menu-item" mat-list-item (click)="logout()"> 
        <mat-icon class="fas fa-sign-out-alt" matListItemIcon style="width: 30px;"></mat-icon>
        <span matListItemTitle *ngIf="!sideNavCollapsed()">Wyloguj się</span> 
    </a>
</mat-nav-list>  
