h2, h3, h4, h5 {
    font-weight: 400;
}

.btn-primary {
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    border: none; 
    color: white; 
}

img {
    width: 80px; 
    height: 80px; 
    object-fit: cover; 
}

